h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

h1 {
  font-size: 2.8rem;
  line-height: 1.4;
  color: #ffffff; }

h2 {
  font-size: 3.2rem;
  line-height: 1.1;
  color: #000000; }

h3 {
  font-size: 1.8rem;
  line-height: 1.1;
  color: #000000; }

.title--h2 {
  padding: 20px 0;
  text-align: center;
  background: url("../img/underline.jpg") center bottom no-repeat; }

.title--subscribe {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: none;
  color: #ffffff; }

.title--h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1;
  color: #333333; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  height: 100%; }

.promo {
  display: table;
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center fixed;
  background-size: cover; }
  .promo__inner {
    margin: 0 auto;
    padding: 20px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.8); }
  .promo__logo {
    padding: 16px; }
    .promo__logo img {
      max-width: 100%; }
  .promo__description {
    font-size: 2.4rem;
    line-height: 1.4;
    color: #999999; }

.btn {
  padding: 8px 20px;
  border-width: 2px;
  border-style: solid;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  outline: none;
  cursor: pointer; }
  .btn--transparent {
    border-radius: 2px;
    border-color: #ffffff; }
  .btn--blue {
    border-radius: 2px;
    border-color: #03c4eb;
    background-color: #03c4eb; }

.header {
  background-color: #000000; }
  .header__inner {
    margin: 0 auto;
    padding: 15px; }
  .header__logo img {
    max-height: 40px; }
  .header__nav {
    display: none; }

.about__inner {
  margin: 0 auto;
  padding: 15px;
  text-align: center; }
.about__description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #999999; }
.about__abzar {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8;
  text-align: left;
  color: #999999; }

.services {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/services-bg.jpg") fixed center center;
  background-size: cover; }
  .services__inner {
    margin: 0 auto;
    padding: 15px; }
  .services__description {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
    color: #999999; }
  .services__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #999999; }
  .services__item {
    display: flex; }
  .services__text-box {
    flex: 1;
    padding: 0 10px; }
  .services__pic {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03c4eb;
    border: 1px solid #03c4eb;
    border-radius: 50%;
    color: #ffffff; }
  .services__pic:hover {
    color: #03c4eb;
    background-color: transparent; }
  .services__title {
    margin: 0;
    padding: 0; }

.subscribe {
  padding: 80px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/subscribe-bg.jpg") fixed center center; }
  .subscribe__inner {
    margin: 0 auto;
    padding: 15px; }
  .subscribe__link {
    text-align: center; }
  .subscribe__description {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #ffffff; }

.portfolio__inner {
  margin: 0 auto;
  padding: 15px; }
.portfolio__item {
  padding: 15px 0; }
.portfolio__link {
  position: relative;
  display: block;
  width: 260px;
  height: 260px;
  overflow: hidden; }
.portfolio__pic {
  max-height: 100%; }
.portfolio__item-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
.portfolio__description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #666666; }

.testimonials {
  background-color: #f6f6f6; }
  .testimonials__inner {
    margin: 0 auto;
    padding: 15px; }
    .testimonials__inner .row {
      display: flex;
      flex-direction: column; }
  .testimonials__description {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
    color: #666666; }
  .testimonials__person {
    text-align: center; }
  .testimonials__avatar {
    max-width: 260px;
    height: 260px;
    border: 6px solid #ffffff;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden; }
  .testimonials__name {
    max-width: 260px;
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #03c4eb; }
  .testimonials__company {
    width: 260px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.4; }
  .testimonials__quote {
    padding: 60px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    background-color: #ffffff; }

.team__inner {
  margin: 0 auto;
  padding: 15px; }
.team__description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
  color: #666666; }
.team__item {
  text-align: center; }
.team__pic {
  width: 260px;
  height: 260px;
  max-width: 100%; }
.team__name {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 700; }
.team__company {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-style: italic; }
.team__social a {
  padding: 0 10px; }

.contact__inner {
  margin: 0 auto;
  padding: 15px; }
.contact__description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
  color: #999999; }
.contact__city, .contact__mail, .contact__tel {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4; }
.contact__icon {
  color: #03c4eb; }

/*# sourceMappingURL=style.css.map */
