.header {
    background-color: $black;

    &__inner {
        margin: 0 auto;
        padding: 15px;
    }

    &__logo img {
        max-height: 40px;
    }

    &__nav {
        display: none;
    }
}