.subscribe {
    padding: 80px 0;
    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
            url("../img/subscribe-bg.jpg") fixed center center;

    &__inner {
        margin: 0 auto;
        padding: 15px;
    }

    &__link {
        text-align: center;
    }

    &__description {
        font-family: $font-family-2;
        font-size: $font-size-base;
        line-height: $line-height-lg;
        color: $white;
    }

}